<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
          <div class="panel-body">
            <p>Stats</p>
          </div><!-- panel body -->
    </div>
            
    <div class="panel panel-default">
            <div class="panel-body">
                <p>trends</p>
            </div>
    </div>
      

  </div><!-- class col xs 3 -->
  
  <div class="col-xs-6">
    <% for @p in @posts %>
    <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @p.content %></p>
          </div><!-- panel body -->
    </div> <!-- panel panel default -->
    <% end %>
  </div><!-- col xs 6 -->
  
  <div class="col-xs-3">
    <div class="panel panel-default">
          <div class="panel-body">
            <p>About</p>
          </div><!-- panel body -->
    </div> <!-- panel panel-default -->
      
  </div><!-- col xs 3 -->
</div><!-- first row -->





