<!-- ==== first row for jumbotron ====-->
<div class="row">
  <div class="col-xs-12">
      <div class="jumbotron">
          <%= @username %>
      </div>
  </div>
</div>

<!-- ==== SECOND ROW ==== -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Profile</p>
      </div><!-- panel body -->
    </div> 
      
      
  </div><!-- class col xs 3 -->
    
    
  <div class="col-xs-6">
    <%= render '/components/post_form' %>
    <% for @p in @posts %>
    <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @p.content %></p>
          </div><!-- panel body -->
    </div> <!-- panel panel default -->
    <% end %>
  </div><!-- col xs 6 -->
    
    
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Who to follow</p>
      </div><!-- panel body -->
    </div> <!-- panel panel-default -->
    
    <div class="panel panel-default">
      <div class="panel-body">
          <p>trends</p>
      </div>
    </div>
  </div><!-- col xs 3 -->
</div><!-- first row -->







